.p-contactanos {
    font-size: 2rem;
    color: #C874B2;
    text-align: center;
}

.container-img {
    display: flex;
    justify-content: center;
}

.section-sub-contactanos {
    display: flex;
    justify-content: center;
}

.wrapper-contactanos {
    width: 420px;
    color: #F5D5E0;
    padding: 30px 40px;
}

.wrapper-contactanos .input-box-contactanos {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box-contactanos input {
    width: 100%;
    height: 100%;
    background-color: #C874B2;
    border: none;
    outline: none;
    border: 2px solid #C874B2;
    border-radius: 40px;
    font-size: 16px;
    color: #F5D5E0;
    padding: 20px 45px 20px 20px;
}

.input-box-contactanos input::placeholder {
    color: #F5D5E0;
}

.input-box-contactanos input:focus {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.input-box-contactanos input:not(focus) {
    transform: scale(1);
    transition: all 0.3s ease;
}

textarea {
    background-color: #F5D5E0;
    color: #430D4B;
    border: none;
    outline: none;
    border: 2px solid #F5D5E0;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    margin-bottom: 25px;
}

textarea::placeholder{
    color: #C874B2;
}

textarea:focus {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

textarea:not(focus) {
    transform: scale(1);
    transition: all 0.3s ease;
}

