body {
  margin: 0;
  background-color: #210535;
}

.section-one {
  background-color: #210535;
  color: white;
  text-align: start;
  margin-top: 80px;
}

.section-two {
  background-color: #430D4B;
  color: white;
  text-align: center;
}

.section-three {
  background-color: #7B337D;
  color: white;
  text-align: center;
}

.section-four {
  background-color: #C874B2;
  color: white;
  text-align: center;
}

svg {
  display: block;
}

.img-one-home{
  width: 40%;
  height: 40%;
}

.section-sub-one{
  display: flex;
  padding-right: 20%;
  padding-left: 10%;
  align-items: center;
  
}

.section-mini-one{
  padding-left: 8%;
  padding-right: 25%;
  
}

h1{
  font-size: 4rem;
  text-align: center;
}

.p-left{
  font-size: 2rem;
  color: #C874B2;
  text-align: start;
}

.p-right{
  font-size: 2rem;
  color: #C874B2;
  text-align: end;
}

.p-pink{
  font-size: 2rem;
  text-align: end;
  color: #7B337D;
}

.container-btn-home{
  display: flex;
  justify-content: center;
}

.section-sub-two{
  display: flex;
  padding-right: 18%;
  padding-left: 12%;
  align-items: center;  
}

.section-mini-two{
  padding-left: 25%;
  padding-right: 8%;  
}