.section-footer {
  display: flex;
  justify-content: center;
  background-color: #210535;
  color: white;
  align-items: center;
  padding-bottom: 10%;
  padding-top: 5%;
}

/*.logo-footer{
  width: 50px;
  margin-right: 20px;
}*/

.parrafo-footer{
  padding-left: 20px;
}